#acordeonFaq .item{
	border-top: solid 1px #CCC; 
	cursor: pointer;
	padding: 0px 40px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

#acordeonFaq .item:hover{
	background-color: #5296a3;
}

#acordeonFaq .item .pregunta{
	padding: 20px 0;
}

#acordeonFaq .item .respuesta{
	display: none;
	padding-bottom: 20px;
}

.acordeonActivado{
	background-color: #d6e9f7 !important;
}

.acordeonActivado .acordeonActivado:hover{
	background-color: #d6e9f7 !important;	
}

.acordeonActivado .pregunta{
	font-weight: bolder;
}